@media screen and (max-width: 1100px)
	body
		header
			nav
				figure
					width 200px
					margin 0px auto
					
				.btnParticipate
					display inline-block
					
		.container
			overflow hidden
			.segBannerPrincipal
				.bannerPrincipal
					.wrapperContentBannerPrincipal
						width 90%
						margin 0px 0px 0px 10%
						.tit1, .tit2, .tit3 
							margin 0px
							text-align left

						.tit1
							font-size 4.1em
							
						.tit2
							font-size 4.5em
						.tit3
							font-size 4.2em


						.wrapperTits
							top 150px
							.tit4
								font-size 1.5em
								position relative
								top -40px
							.tit5
								font-size 1.5em
								width 640px
								position relative
								top -109px

							.shadowTit4
								width 490px
								
							.shadowTit5
								width 630px
								height 70px
								top -35px

						.wrapperBtnBanner
							position relative
							top 40px
			.segNeeds
				height 470px
				.wrapperNeeds
					width 770px
					h3
						font-size 2.5em
						width 770px
					.subWrapperNeeds
						width 770px
						.gridNeed
							width 230px
							margin 0px 10px
							
							h1
								font-size 1.5em
								width 230px
								line-height 32px
							figure
								img
									height 125px
								.imgEdit
									margin 28px auto 0px auto
			.segSolutions
				height 820px
				padding-top 0px
				
				h3
					width 360px
					font-size 1.9em
					margin-bottom 35px

				.wrapperNavSolutions
					width 808px
					height 85px

					.btnNavSolutions
						width 114px

						img
							height 43px
							margin-top 10px

						p
							font-size 0.8em
							width 90px
							top -5px

						.btnSolutionsSelect
							top 0px

				.wrapperBannerSolutions
					.bannerSolutions
						height 570px
						padding-top 0px
						background-size cover
						background-position 60% 0%
						h2
							font-size 3.6em
							margin-top 70px

						.gridSolutions
							h3
								font-size 1.1em
							.btnParticipate
								margin 35px 0px 0px 17%


							.dots
								left 5%

			.segForm
				height 610px
				.wrapperBtnSocialLogin
					width 685px
					display block
					margin 30px auto 23px auto
					
				.btnSocialLogin
					display inline-block
					margin 0px 12px

			.segSummaryEnterprise
				
				.wrapperSummary
					width 760px
					figure
						height 60px
						img
							display inline-block
					.summary
						width 480px
						margin 20px 0px 0px 60px
					figure, .summary
						display inline-block
			
			.segTeam
				position relative
				top 0px
				height 300px
				.wrapperTeam
					width 780px
					position relative
					top 90px
					
					h6
						display inline-block
						font-size 1.7em
						padding 0px
						width 190px
						margin 0px 25px 0px 25px

					.content
						display inline-block
						height 270px
						width 535px
						margin 40px 0px 0px 0px
						.gridTeam
							width 170px
							height 130px
							margin 0px 


							.dataTeam, .backgroundGridTeam
								width 130px
								height 130px
								
							.backgroundGridTeam
								top -130px

							.dataTeam
								h3, h4
									font-size 0.7em
									top -15px

								h3
									width 50px
									line-height 20px

								span
									font-size 0.5em
									top -15px
								.emailTeam
									font-size 0.6em

							figure
								width 130px
								height 130px
								margin -260px auto 0px auto
								img
									height 130px
									
						.thirdGrid
							display inline-block

			footer
				p
					font-size 0.8em
					width 315px
	.btnSocialLogin
		margin 11px 25px 0px 0px
		cursor pointer
		padding 0px
		display block
		width 315px
		height 43px
		border-radius 10px

		.icoSocialLogin
			display block
			background: none
			margin 11px 13px 0px 18px
			padding 0px
			width 20px
			height 20px
			float left
			font-size 20px
			color white
			text-align center
			vertical-align middle



		.circleArrowSocialLogin
			background: #00325c;
			background: -moz-linear-gradient(top, #00325c 0%, #1a75ba 54%);
			background: -webkit-linear-gradient(top, #00325c 0%,#1a75ba 54%);
			background: linear-gradient(to bottom, #00325c 0%,#1a75ba 54%);
			margin 9px 18px 0px 0px
			padding 0px
			display block
			width 25px
			height 25px
			border-radius 50%
			float right
			font-size 25px
			font-weight bolder
			color white
			text-align center
			vertical-align middle
			
			.ArrowBtnSocialLogin
				margin 0px 0px 0px 3px
		.txtBtn
			top 10px
					
@media screen and (max-width: 768px)
	body
		header
			nav
				figure
					width 200px
					margin 0px auto
					
				
					
		.container
			.segBannerPrincipal
				height 640px
				.bannerPrincipal
					height 640px
					.wrapperContentBannerPrincipal
						width 470px
						margin 0px 0px 0px 8%
						
						.tit1, .tit2, .tit3 
							margin 0px 0px 5px 0px 
							text-align left

						.tit1
							font-size 2.7em
							
						.tit2
							font-size 3em
						.tit3
							font-size 2.8em
							

						.wrapperTits
							width 470px
							margin 110px 0px 0px 0px 
							top 50px
							
							.shadowTit4
								height 35px
								width 430px
								float left
								margin 0px 0px 0px 0px
								padding 0px
								
							.shadowTit5
								height 70px
								width 405px
								float left
								padding 0px
								margin 0px 0px 0px 0px
								position relative 
								top -25px

							.tit4
								font-size 1.3em
								position relative
								left 10px
								top -33px
								width 500px
								
							.tit5
								font-size 1.3em
								position relative
								left 10px
								top -93px
								width 500px
							
								
						.wrapperBtnBanner
							position relative
							top -75px

			.segNeeds
				height 342px
				.wrapperNeeds
					width 525px
					h3
						width 490px
						font-size 1.8em
						margin 50px auto
						text-align center

					.subWrapperNeeds
						display block
						width 525px

						.gridNeed
							width 150px

							h1
								padding 0px 0px 10px 0px
								width 140px
								font-size 1em
								line-height 18px

							figure
								img
									height 87px
								.imgEdit
									margin 36px auto 0px auto

			.segSolutions
				height 780px
				padding-top 0px
				
				h3
					margin-top 50px
					width 290px
					font-size 1.5em

				.wrapperNavSolutions
					width 546px
					height 85px
					top 0px

					.btnNavSolutions
						width 90px

						img
							height 43px
							margin-top 10px

						p
							font-size 0.8em
							width 90px
							top -5px

						.btnSolutionsSelect
							top 0px

					.btnNavSoltLForTablets
						border-right  none
					.btnNavSolutionsLast
						display none


		
				.wrapperBannerSolutions
					top 0px
					height 620px
					.bannerSolutions
						height 568px
						background-size cover
						background-position 60% 0%
						h2
							font-size 3em
							margin-top 70px

						.gridSolutions
							h3
								font-size 1em
							.btnParticipate
								margin 35px 0px 0px 10%


							.dots
								left 5%
					.bannerSolutions3
						background-position 40%
					.bannerSolutions4
						background-position 20%
			
			.segForm
				height 640px
				h5
					font-size 1.2em
					width 500px
				.wrapperBtnSocialLogin
					margin 20px auto 20px auto
					display block
					width 315px
					.btnSocialLogin
						margin 	7px auto 

				p
					width 500px

				form
					width 315px
					margin-top 10px
					
					.gridForm1, .gridForm2, .gridForm3
						input, .campoForm
							margin-bottom 10px
							width 250px

						textarea
							width 250px
						.campoForm
							width 290px

					.btnEnviar
						margin-top 140px

				#mensajeExito, #mensajeError
					width 200px
					height 285px
					display none
					position relative
					top -330px
					img
						position relative
						top -70px
				#mensajeExito
					display none

				#mensajeError
					top 40px
					padding 0px
					height 80px
					width 280px
					display none

					p
						padding 0px
						position relative 
						top 15px
						margin 0px auto 0px auto
						font-size 1em
						text-align center
						width 250px
			.segSummaryEnterprise
				height 338px
				.wrapperSummary
					width 320px
					margin 40px auto 40px auto
					figure
						display block
						margin 0px auto 20px auto
						height 60px
						width 175px
						
					.summary 
						width 310px
						display block
						font-size 1.3em
						margin 0px auto
						text-align center
			.segTeam
				position relative
				top 0px
				height 490px
				.wrapperTeam
					width 350px
					position relative
					top 55px
					
					h6
						display block
						font-size 1.5em
						padding 0px
						width 170px
						margin 0px auto 0px auto

					.content
						width 350px
						margin 90px 0px 70px 0px
						.gridTeam
							
							width 150px
							height 150px
							margin 0px 11.2px 7px 11.2px


							.dataTeam, .backgroundGridTeam
								width 150px
								height 150px
								
							.backgroundGridTeam
								top -150px

							.dataTeam
								h3, h4
									font-size 0.9em

								h3
									width 70px
									line-height 20px

								.emailTeam
									font-size 0.8em

							figure
								width 150px
								height 150px
								margin -300px auto 0px auto
								img
									height 150px
									
						.thirdGrid
							clear both
							display block
							margin 0px auto
			.segSubNav

				height 490px
				.wrapperSubNav
					width 340px
					height 300px
					.gridSubNav1, .gridSubNav2
						display block
						width 345px
						margin 0px
						
						ul
							.gridLi
								width 170px
								margin 0px
								h6
									font-size 1.2em
									margin 35px auto 0px auto
								.titSubnavWithIco
									padding 0px 0px 0px 20px
								ul
									li
										font-size 0.8em
					.gridSubNav1
						ul
							.gridLi
								h6
									padding-left 20px
								ul
									li
										padding-left 20px	


	.btnParticipate, .btnInfo, .btnEnviar
		margin 11px 25px 0px 0px
		width 275px
		height 53px
		.txtBtn
			top 14px
			left 65px
			font-size 25px
		.circleArrow
			width 28px
			height 28px
			font-size 28px
			margin 12px 60px 0px 0px
	.btnInfo
		.txtBtn
			left 30px
		.circleArrow
			margin 12px 27px 0px 0px


	.btnEnviar
		margin 0px auto
		.txtBtn
			left 90px
		.circleArrow
			margin 12px 70px 0px 0px
	.decoDots
		width 33px
		top 30px

@media screen and (max-width: 480px)

	body
		header
			height 57px
			
			nav
				height 53px
				.logo, .btnParticipate
					display block
				figure
					display block
					width 200px
					height 50px
					margin 0px auto
					
				.btnParticipate
					display none

		.container
			position relative
			top 20px
			overflow hidden
			.segBannerPrincipal
				height 500px
				.bannerPrincipal
					height 500px
					.wrapperContentBannerPrincipal
						width 320px
						margin 0px auto
						.tit1, .tit2, .tit3 
							width 310px
							margin 0px auto 10px auto
							text-align center

						.tit1
							font-size 1.9em
							top 70px
							
						.tit2
							font-size 2.1em
							top 60px
						.tit3
							font-size 2em
							top 50px
							

						.wrapperTits
							width 300px
							margin 0px auto 0px auto
							height 130px
							
							.shadowTit4
								height 60px
								width 245px
								float left
								margin 0px 0px 0px 0px
								padding 0px
								
							.shadowTit5
								height 60px
								width 300px
								float left
								padding 0px
								margin 0px 0px 0px 0px
								position relative 
								top -45px

							.tit4
								font-size 1.1em
								position relative
								left 10px
								top -58px
								width 300px
								
							.tit5
								font-size 1.1em
								font-weight lighter
								position relative
								left 10px
								top -103px
								width 300px
							
						.wrapperBtnBanner
							width 195px
							margin 0px auto
							position relative
							top 50px

			.segNeeds
				height 277px
				.wrapperNeeds
					width 320px
					h3
						width 230px
						margin 37px auto 0px auto
						text-align center
						font-size 1.4em

					.subWrapperNeeds
						display block
						width 320px
						margin-top 23px

						.gridNeed
							width 95px
							margin 0px 3px


							h1
								padding 0px 0px 10px 0px
								width 90px
								font-size 0.65em
								line-height 12px

							figure
								img
									height 57px
								.imgEdit
									margin 40px auto 0px auto
									
			.segSolutions
				height 750px
				padding-top 0px
				
				h3
					margin-top 37px
					width 290px
					font-size 1.5em

				.wrapperNavSolutions
					width 276px
					height 85px
					top 0px

					.btnNavSolutions
						width 90px

						img
							height 43px
							margin-top 10px

						p
							font-size 0.8em
							width 90px
							top -5px

						.btnSolutionsSelect
							top 0px

					.btnNavSolt1
						border-bottom solid 1px #a5a7aa

					.btnNavSoltL
						border-right none
						
					.btnNavSolutionsLast
						display none

				.wrapperBannerSolutions
					top 0px
					height 460px
					.bannerSolutions
						height 410px
						padding-top 50px
						background-size cover
						background-position 30% 0%
						h2
							font-size 2em
							margin-top 	0px
							margin-bottom 10px

						.gridSolutions
							h3
								font-size 0.8em
								max-width 90%
							.btnParticipate
								margin 35px 0px 0px 17%


							.dots
								left 5%
					.bannerSolutions6
						background-position 55%
					.bannerSolutions7
						background-position 75%

			.segForm
				height 560px
				
				.decoDots
					top 20px

				h5
					font-size 0.8em
					margin-top 30px
					width 290px
					margin-bottom 20px

				p
					width 310px
					font-size 0.7em 
					margin 0px auto 0px auto

				.wrapperBtnSocialLogin
					margin 0px auto 15px auto
					display block
					width 265px
					
				form
					width 315px
					margin-top 10px
					
					.gridForm1, .gridForm2, .gridForm3
						input, .campoForm
							margin-bottom 0px auto 10px auto
							width 240px
							display block
							font-size 13px

						textarea
							width 240px
							font-size 13px
							display block


						.campoForm
							width 280px
							option
								font-size 0.7em
								width 280px

					.btnEnviar
						margin-top 140px

				#mensajeExito, #mensajeError
					width 200px
					height 285px
					display none
					position relative
					top -330px
					margin 0px auto
					padding 0px
					img
						position relative
						top -70px
				#mensajeExito
					display none
				#mensajeError
					top 40px
					padding 0px
					height 40px
					width 280px
					display none
					p
						font-size 0.8em
						text-align center
						padding 0px
						width 200px
						margin 0px auto 0px auto
						
						

			.segSummaryEnterprise
				height 300px
				.wrapperSummary
					width 320px
					margin 40px auto 40px auto
					figure
						display block
						margin 0px auto 20px auto
						height 60px
						width 175px
						
					.summary 
						width 280px
						display block
						font-size 1.1em
						margin 0px auto
						text-align center
			.segTeam
				position relative
				top 0px
				height 440px
				.wrapperTeam
					width 315px
					position relative
					top 55px
					
					h6
						display block
						font-size 1.5em
						padding 0px
						width 170px
						margin 0px auto 0px auto

					.content
						display block
						height 270px
						width 315px
						margin 90px 0px 70px 0px
						.gridTeam
							
							width 130px
							height 130px
							margin 0px 11px 7px 11px


							.dataTeam, .backgroundGridTeam
								width 130px
								height 130px
								
							.backgroundGridTeam
								top -130px

							.dataTeam
								h3, h4
									font-size 0.7em
									top -15px


								h3
									width 50px
									line-height 20px

								span
									font-size 0.5em
									top -15px

								.emailTeam
									font-size 0.6em

							figure
								width 130px
								height 130px
								margin -260px auto 0px auto
								img
									height 130px
									
						.thirdGrid
							clear both
							display block
							margin 0px auto

						
			.segSubNav
				height 455px
				.wrapperSubNav
					width 300px
					height 250px
					.gridSubNav1, .gridSubNav2
						display block
						width 350px
						margin 0px
						
						ul
							.gridLi
								width 150px
								margin 0px
								h6
									width 110px
									font-size 1em
									margin 35px auto 0px auto
								.titSubnavWithIco
									padding 0px 0px 0px 23px
								ul
									li
										width 110px
										font-size 0.7em
									.icosRedes
										position relative
										top 3px

					.gridSubNav1
						ul
							.gridLi
								h6
									padding-left 30px
								ul
									li
										padding-left 30px
						
			footer
				p
					font-size 0.7em
					width 270px
					
	.btnParticipate, .btnInfo, .btnEnviar
		width 190px
		height 38px

		.txtBtn
			font-size 15px
			position relative
			top 8px
			left 55px

		.circleArrow
			font-size 17px
			height 20px
			width 20px
	.btnInfo
		margin 15px auto
		.circleArrow
				
			margin -15px 15px 0px 0px

		.txtBtn
			top -15px
			left 30px

	.btnParticipate
		margin 0px auto
		.circleArrow
			margin 9px 40px 0px 0px 


	.btnEnviar
		margin-top 140px
		.txtBtn
			margin-left 0px
			font-size 1.2em
		.circleArrow
			margin 9px 47px 0px 0px
			

	.btnParticipate, .btnInfo
		display block

	.btnSocialLogin
		width 250px

		.icoSocialLogin
			width 20px
			height 20px
			font-size 20px
			margin 11px 13px 0px 13px
		.circleArrowSocialLogin
			width 25px
			height 25px
			font-size 25px
			margin 9px 13px 0px 0px
		.txtBtn
			font-size 15px

	.decoDots
		top 25px
		width 25px
		font-size 15px
