@font-face
  font-family: 'icomoon'
  src url('fonts/icomoon.eot?iglsho')
  src url('fonts/icomoon.eot?#iefixiglsho') format('embedded-opentype'), url('fonts/icomoon.ttf?iglsho') format('truetype'), url('fonts/icomoon.woff?iglsho') format('woff'), url('fonts/icomoon.svg?iglsho#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"],
[class*=" icon-"]
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-envelope:before
  content "\f0e0"

.icon-arrow-right:before
  content "\f105"

.icon-arrow-down:before
  content "\f107"

.icon-phone:before
  content "\e942"

.icon-location:before
  content "\e947"

.icon-order:before
  content "\ea1c"

.icon-facebook:before
  content "\ea8c"

.icon-facebook2:before
  content "\ea8d"

.icon-instagram:before
  content "\ea90"

.icon-twitter:before
  content "\ea91"

.icon-video:before
  content "\ea97"

.icon-linkedin:before
  content "\eac8"

.icon-linkedin2:before
  content "\eac9"

